{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Edit Food</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="min-h-screen flex items-center justify-center w-screen py-12 px-4 sm:px-6 lg:px-8" style="background-image: url('/static/image/login_register_bg.jpg'); background-size: cover; background-position: center;">
  <div class="max-w-lg w-2/3 bg-white bg-opacity-60 p-8 rounded-md shadow-lg">
    <h1 class="text-2xl font-bold mb-6 text-center text-red-500">Edit Food</h1>

    <form method="POST" class="space-y-4">
      {% csrf_token %}
      {% for field in form %}
        <div class="flex flex-col">
          <label for="{{ field.id_for_label }}" class="mb-2 font-semibold text-gray-700">
            {{ field.label }}
          </label>
          <div class="w-full">
            {{ field }}
          </div>
          {% if field.help_text %}
            <p class="mt-1 text-sm text-gray-500">{{ field.help_text }}</p>
          {% endif %}
          {% for error in field.errors %}
            <p class="mt-1 text-sm text-red-600">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      <div class="flex justify-end">
        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 w-full">
          Edit Food
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
