{% extends 'base.html' %}
{% block content %}
<title>Food Pedia</title>

<h1 style="text-align: center;">
    <span style="color: blue;">Food</span>
    <span style="color: red;">Pedia</span>
</h1>
<p style="text-align: center;">An App by Wirya Dharma Kurnia from PBP C</p>

<h2 style="text-align: center;">Hi, {{ name }}! Any food in mind?</h2>
<p style="text-align: center;">
    <u>Available Items:</u>
</p>
<ul style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; margin-left: 30 px; justify-content: center;">
    {% for item in food_entries %}
    <li>
        <h4>{{ item.name }}</h4>
        <p>Price: Rp {{ item.price }}</p>
        <p>Description: {{ item.description }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Rating: {{ item.rating }}</p>
    </li>
    {% endfor %}
</ul>

<div class="button-row" style="display: flex; gap: 30px; justify-content: center;">
    <a href="{% url 'main:create_food_entry' %}">
        <button>Add New Food</button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>Logout</button>
    </a>
</div>

<h5 style="text-align: center;">Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}
